*{
    box-sizing: border-box;
}
body{
    padding: 100px;

    
}

.container{
    width: 500px;
    height: 500px;
    background-color: #2b2b2b;
}

.container:hover{
    animation: 4s moveit  forwards;
    /* animation-fill-mode: ; */
/* */
}

@keyframes moveit{
    0%{
        opacity: 0;
        width: 500px;
    }
    100%{
        opacity: 1;
        width: 800px;
    }
    /* 100%{
        opacity: 0;
        width: 500px;
    } */
}